* {
  box-sizing: border-box;
}
.contentcontainer {
    position: relative;
    top: 50px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 432px;
    height: 870px;
    margin: auto;
}
.disrec {
  margin: auto;
  width: 424px;
  height: 345px;
  display: flex;
  flex-direction: column-reverse;
}

.buttoncontainer {
  display: flex;
  flex-wrap: wrap;
  width: 428px;
  height: 522px;
  margin: auto;
  justify-content: center;
}
.button {
  background-color: blueviolet;
  margin: 2px;
  width: 103px;
  height: 100px;
  color:white;
  padding: 30px 43px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.input {
  text-align: end;
}

input {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: end;
  font-size: 56px;
  padding: 0;
  margin: 0; 
}

#h1 {
  color: gray;
  width: 100%;
  height: 0.9em;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: end;
  font-size: 40px;
  padding: 0;
  margin: 0;  
}

#h2 {
  color: gray;
  width: 100%;
  height: 0.9em;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: end;
  font-size: 30px;
  padding: 0;
  margin: 0;  
}

#h3 {
  color: gray;
  width: 100%;
  height: 1em;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: end;
  font-size: 100%;
  padding: 0;
  margin: 0;  
}

input:focus {
  outline: none;
}
#inpfld {
  border: 0.5px solid rgb(240, 239, 239);
}

#col {
  background-color:#08133F;
}